<?xml version="1.0" encoding="utf-8" ?>
<UpdateConfig>
  <Enabled>true</Enabled>
  <Version>1.0.0.0</Version>
  <Description></Description>
  <ServerUrl>ftp://192.168.1.150:2105/VersionFiles/V{VersionNumber}/Update/Client/updateservice.xml?yiguanjia&amp;1IuAVJRyshkZ6jj178AqKQ==</ServerUrl><!--外网更新的配置文件,http或ftp地址,如果是ftp地址要加上登陆的用户名和密码-->
  <IntranetUrl>net.tcp://127.0.0.1:8089/UpdateFileService</IntranetUrl><!--内网更新的配置文件-->
  <LocalFileList>
    <LocalFile path="ThinkCRM.Infrastructure.Co.dll" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Infrastructure.DataEntity.Co.dll" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Service.Co.Common.dll" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Service.Co.Proxy.dll" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Service.Co.WCF.Contract.dll" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Win.Co.Client.exe" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Win.Co.Client.exe.config" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkCRM.Win.Controls.dll" lastver="1.0.0.0" size="100000" />
    <LocalFile path="ThinkNet.Core.dll" lastver="1.0.0.0" size="100000" />
  </LocalFileList>
</UpdateConfig>