<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnCRMCo" connectionString="Database=ThinkCRMCo4Developer;Server=.;user id=sa;Password=123456;" providerName="System.Data.SqlClient"/>
    <add name="ConnQueryCRMCo" connectionString="Database=ThinkCRMCo4Developer;Server=.;user id=sa;Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPort" value="3780"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add  key="appUrl" value="https://eco.taobao.com/router/rest" />
    <add  key="callbackUrl" value="https://eco.taobao.com/router/rest" />
    
    
    
    
    
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" httpGetBinding=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="mexHttpBehavior">
          <webHttp/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647">
          </dataContractSerializer>
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="mexHttpBinding" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" receiveTimeout="08:00:00" sendTimeout="00:30:00">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
      <!--此处配置相当重要，使用了我们编写的JsonContentTypeMapper类，约定返回值类型是Json-->
      <!--<customBinding>
        <binding name="JsonMapper">
          <webMessageEncoding  webContentTypeMapperType="TenantPlatform.WCF.Tools.JsonContentTypeMapper, JsonContentTypeMapper">
          </webMessageEncoding>
          <httpTransport manualAddressing="true" />
        </binding>
      </customBinding>-->
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
    <services>
      <!--************************公共服务******************************-->
      <service name="WCFWeb.Co.UserService" behaviorConfiguration="mexBehavior">
        <endpoint name="UserService" address="client" binding="webHttpBinding" bindingConfiguration="mexHttpBinding" behaviorConfiguration="mexHttpBehavior" contract="WCFWeb.Co.Contract.IUserService"/>
        <!--<endpoint name="AccountService" address="AccountService" binding="webHttpBinding" bindingConfiguration="mexHttpBinding" behaviorConfiguration="mexHttpBehavior" contract="WCFWeb.Co.Contract.IAccountService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:1608/BasicService"/>
          </baseAddresses>
        </host>
      </service>
      <!--************************测试服务******************************-->
      <service name="WCFWeb.Co.TestService" behaviorConfiguration="mexBehavior">
        <endpoint name="TestService" address="client" binding="webHttpBinding" bindingConfiguration="mexHttpBinding" behaviorConfiguration="mexHttpBehavior" contract="WCFWeb.Co.Contract.ITestService"/>
        <!--<endpoint name="AccountService" address="AccountService" binding="webHttpBinding" bindingConfiguration="mexHttpBinding" behaviorConfiguration="mexHttpBehavior" contract="WCFWeb.Co.Contract.IAccountService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:1608/TestService"/>
          </baseAddresses>
        </host>
      </service>
      <!--************************权限服务******************************-->
      <service name="WCFWeb.Co.AuthorityService" behaviorConfiguration="mexBehavior">
        <endpoint name="AuthorityService" address="client" binding="webHttpBinding" bindingConfiguration="mexHttpBinding" behaviorConfiguration="mexHttpBehavior" contract="WCFWeb.Co.Contract.IAuthorityService"/>
        <!--<endpoint name="AccountService" address="AccountService" binding="webHttpBinding" bindingConfiguration="mexHttpBinding" behaviorConfiguration="mexHttpBehavior" contract="WCFWeb.Co.Contract.IAccountService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:1608/AuthorityService"/>
          </baseAddresses>
        </host>
      </service>


    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
